<h2> Signup </h2>

<form action='/users/signup' method='post'>
  Email: <input type='text' name='email' value='<%= @user.email %>'>
  Password: <input type='password' name='password'>
  Confimation Password: <input type='password' name='password_confirmation'>
  <input type='submit' value='Submit'>
</form>
