<h1> LINKS </h1>

<h3> Welcome <%= @useremail %> </h3>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <b>Title:</b> <%= link.title %>
      <b>URL:</b>   <%= link.url %>
      <b>Tags:</b> <%= link.tags.map(&:name).join(', ') %>
    </li>
  <% end %>
</ul>
