<h1> LINKS </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <b>Title:</b> <%= link.title %>
      <b>URL:</b>   <%= link.url %>
      <b>Tags:</b> <%= link.tags %>
    </li>
  <% end %>
</ul>
