<h2>Save a link</h2>
<form action='/links' method='post'>
  <b>URL:</b>
  <input type='text' name='url'>
  <b>Title:</b>
  <input type='text' name='title'>
  <b>Tags:</b>
  <input type='text' name='tags'>
  <input type='submit' value='Save Link'>
</form>
